<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-items">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">Logo</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-items">
      <form class="form-inline navbar-right" ng-submit="searchSummoner()">
        <div class="form-group">
          <input type="text" placeholder="Summoner Name" ng-model="summoner">
          <select ng-selected="6" ng-model="selectedRegion" ng-options="region.code for region in regions">
          </select>
        </div>
        <button class="btn btn-primary">Search Summoner</button>
      </form>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/#/stats">Global Statistics</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
