<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-items">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-items">
      <form class="form-group navbar-right form-merge-background">
        <input type="text" playceholder="Summoner Name" ng-model="summonerSearch">
        <select ng-selected="6"ng-model="selectedRegionCode" ng-options="region.code for region in regions">
        </select>
        <button class="btn btn-primary">Search Summoner</button>
      </form>
      <ul class="nav navbar-nav">
        <li><a href="">Summoner</a></li>
        <li><a href="">Statistics</a></li>
      </ul>
    </div>
  </div>
</nav>
