<div class="row">
  <div class="col-xs-12 col-sm-8 league-summary">
    <div class="summary-title" >
      <label>Rank Summary</label>
    </div>
    <div class="row">
      <div class="col-xs-4" ng-repeat="type in queType">
        <label>{{type}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4" ng-repeat="type in summonerInfo.league">
        <div ng-show="type != null" class="league-info">
          <img src="{{type.badge_icon}}" alt="">
          <div>
            <p>{{type.tier}} {{type.entries[0].division}}</p>
            <p>LP: {{type.entries[0].leaguePoints}}</p>
            <p>Wins: {{type.entries[0].wins}}</p>
          </div>
        </div>
        <div ng-show="type == null" class="league-info">
          <img src="{{badgeDefault}}" alt="">
          <div>
            <p>UNRANKED</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 stats-summary">
    <div class="summary-title">
      <label>General Stats</label>
    </div>
    <div class="row">
      <table class="table table-bordered table-striped" ng-repeat="type in summonerInfo.stats_summary" ng-show="type.stats.aggregatedStats.totalMinionKills != null">
        <caption>{{type.title}}</caption>
        <tbody>
          <tr>
            <td class="col-xs-6">Wins</td>
            <td class="col-xs-6">{{type.stats.wins}}</td>
          </tr>
          <tr>
            <td class="col-xs-6">Kills</td>
            <td class="col-xs-6">{{type.stats.aggregatedStats.totalChampionKills}}</td>
          </tr>
          <tr>
            <td class="col-xs-6">Assists</td>
            <td class="col-xs-6">{{type.stats.aggregatedStats.totalAssists}}</td>
          </tr>
          <tr>
            <td class="col-xs-6">Minion Kills</td>
            <td class="col-xs-6">{{type.stats.aggregatedStats.totalMinionKills}}</td>
          </tr>
          <tr>
            <td class="col-xs-6">Neutral Minion Kill</td>
            <td class="col-xs-6">{{type.stats.aggregatedStats.totalNeutralMinionsKilled}}</td>
          </tr>
          <tr>
            <td class="col-xs-6">Turrent Destroyed</td>
            <td class="col-xs-6">{{type.stats.aggregatedStats.totalTurretsKilled}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 champion-summary">
    <div class="summary-title">
      <label>Chamption Win Rates</label>
    </div>
    <div class="row">
      
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 position-summary">
    <div class="summary-title">
      <label>Position Frequency</label>
    </div>
    <div class="row">
      
    </div>
  </div>
</div>

