@import "variables";
main-nav-bar > nav.navbar.navbar-default {
  background: $background-theme-2;
  border: none;
  border-radius: 0;
  div.container {
    ul > li > a {
      padding: 5px;
      color: white;
      font-family: $font-style-1;
      font-size: 12px;
    }
    ul.navbar-right{
      position: relative;
      right: 15px;
    }
  }
}
