@import "variables";

main-nav-bar > nav.navbar.navbar-default {
  background: $background-theme-2;
  border: none;
  border-radius: 0;
  div.container-fluid {
    div.collapse.navbar-collapse {
      padding: 0 0 0 15px;
      form {
        margin: 8px 0;
        div {
          background:white;
          height: 34px;
          padding: 6px;
          input {
            border: none;
          }
        }
        button{
          border-radius: 0;
        }
      }
      ul > li > a {
        color: white;
      }
    }
  }
}
