@import "variables";
profile-tab > div.row {
  div.league-summary, div.stats-summary, div.champion-summary, div.position-summary {
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid black;
    text-align: center;
    padding: 0;
  }
  div.league-summary {
    width: calc((100%/12*8) - 30px);
    div.row > div.col-xs-4 {
      width: 33%;
      div.league-info {
        img {
          width: 100%;
        }
        div {
          height: 80px;
        }
      }
    }
    div.col-xs-4:not(:last-child) {
      border-right: 1px solid rgb(221, 221, 221);
    }
  }
  div.stats-summary {
    overflow: auto;
    width: calc((100%/12*4) - 30px);
    height: 500px;
    max-height: 366px;
    div.row {
      margin: 0;
      text-align: left;
    }
  }
  div.champion-summary {
    width: calc((100%/2) - 30px);
    div.row {
    }
  }
  div.position-summary {
    width: calc((100%/2) - 30px);
    div.row {
    }
  }
  div.summary-title {
    border-bottom: 1px solid rgb(221,221,221);
  }
  @media screen and (max-width: 1199px){
    div.stats-summary {
      max-height: 322px;
    }
  }
  @media screen and (max-width: 991px){
    div.stats-summary {
      max-height: 274px;
    }
  }
  @media screen and (max-width: 767px){
    div.league-summary, div.stats-summary, div.champion-summary, div.position-summary {
      width: calc(100% - 30px);
    }
  }
}
