$background-theme-1: rgb(52, 73, 94);
$background-theme-2: rgb(41, 58, 74);
$background-theme-3: rgb(35,49,64);
$background-theme-4: rgb(236, 240, 241);

$font-style-1: AppleSDGothicNeo-Regular, Dotum, AppleSDGothic, 'Apple SD Gothic Neo', AppleGothic;

$font-color-1: rgb(46, 204, 113);
$font-color-2: rgb(231, 76, 60);
$font-color-3: rgb(52, 152, 219);
$font-color-4: rgb(241, 196, 15);

$border-color-1: rgb(221,221,221);
$border-color-2: solid rgb(127, 140, 141);

$icon-color-1: rgb(221, 221, 221);
