@import "variables";
div.welcome-page {
  background: $background-theme-1;
  main {
    text-align: center;
    height: 100vh;
    section {
      div.banner-img {
        margin: 0 0 20px;
        background-image: asset-url('banner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 198px;
        width: auto;
      }
      form {
        div {
          display: inline;
          background: white;
          height: 34px;
          padding: 6px;
          input {
            border: none;
          }
          button {
            background-color: $background-theme-2;
            color: white;
            border: 1px;
            font-size: 12px;
            position:relative;
            bottom: 2px;
          }
          ul {
            left: auto;
            top: auto;
            background-color: $background-theme-2;
            div {
              padding: 0;
              margin: 0;
              li > a {
                color: white;
              }
              li > i {
                color: green;
              }
            }
          }
        }
        button {
          border-radius: 0;
        }
        @media screen and (max-width: 767px){
          div {
            display: inline;
            background: white;
            height: 34px;
            padding: 8px 6px 10px;
            input {
              border: none;
            }
          }
          button {
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }
}
