<div class="summoner-page">
  <main-nav-bar></main-nav-bar>

  <sub-nav-bar></sub-nav-bar>

  <header class="container row">
    <div class="profile-icon col-xs-4">
      <img class="profileIcon" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/profileicon/744.png">
      <img class="profileBorder" src="<%= asset_path('silverBorder.png') %>">
      <div>{{summoner.level}}</div>
    </div>
    <div class="profile-name col-xs-4">
      <h1>{{summoner.name}}</h1>
      <p>North America</p>
    </div>
    <div class="profile-renew pull-right col-xs-4">
      <p>Updated: 2 Days Ago</p>
      <button class="btn btn-success">Renew Data</button>
    </div>
  </header>
  </main>
</div>
