<div class="summoner-page">
  <main-nav-bar></main-nav-bar>

  <sub-nav-bar></sub-nav-bar>

  <header class="container row">
    <div class="profile-icon col-xs-4">
      <img class="profileIcon" src="https://ddragon.leagueoflegends.com/cdn/5.4.1/img/profileicon/{{summonerInfo.profileIconId}}.png">
      <img class="profileBorder" src="{{summonerInfo.borderIcon}}">
      <div>{{summonerInfo.level}}</div>
    </div>
    <div class="profile-name col-xs-4">
      <h1>{{summonerInfo.name}}</h1>
      <p>{{$parent.selectedRegion.name}}</p>
    </div>
    <div class="profile-renew pull-right col-xs-4">
      <!-- <p>{{convertDate(renewAgo)}}</p> -->
      <button class="btn btn-success" ng-click="renewAll()">Renew Data</button>
    </div>
  </header>
  <main class="container row">
    <section class="summoner-tabs">
      <tabset justified="true" class="secondary-nav">
        <tab heading="Profile" select="tabs.changed('profile')" deselect="tabs.deselected('profile')"><profile-tab></profile-tab></tab>
<!--         <tab heading="Runes" select="tabs.changed('runes')" deselect="tabs.deselected('runes')"><runes-tab></runes-tab></tab>
        <tab heading="Masteries" select="tabs.changed('masteries')" deselect="tabs.deselected('masteries')">Long Labeled Justified content</tab> -->
        <tab heading="Matches" select="tabs.changed('matches')" deselect="tabs.deselected('matches')"><matches-tab></matches-tab></tab>
        <tab heading="Champions" select="tabs.changed('champions')" deselect="tabs.deselected('champions')"><champions-tab></champions-tab></tab>
        <tab heading="League" select="tabs.changed('league')" deselect="tabs.deselected('league')"><league-tab></league-tab></tab>
      </tabset>
    </section>
  </main>
</div>
